<form style="margin:2.5% 30%" action='/register' method="post">
  {{#if repetido}}
  <div class="form-outline mb-4">
    <FONT SIZE=5>Usuario ya registrado</FONT>
  </div>
  {{/if}}
    ir a <a href="/login">Iniciar session</a>
  <div class="form-outline mb-4">
    <input type="text" id="nombre" name="nombre" class="form-control" />
    <label class="form-label" for="form2Example1">Nombre</label>
  </div>

  <div class="form-outline mb-4">
    <input type="text" id="apellido" name="apellido" class="form-control" />
    <label class="form-label" for="form2Example2">Apellido</label>
  </div>

  <div class="form-outline mb-4">
    <input type="text" id="username" name="username" class="form-control" />
    <label class="form-label" for="form2Example2">Alias</label>
  </div>
  <div class="form-outline mb-4">
    <input type="password" id="password" name="password" class="form-control" />
    <label class="form-label" for="form2Example2">Contraseña</label>
  </div>
  <input type="submit" class="btn btn-primary btn-block mb-4" value="Register">
</form>